<%- include("header") -%>
    <div class="wrapper">
        <div class="list-container">
            <h1>
                <a href="/" class="list-name">
            Today
        </a>
            </h1>
            <% listNames.forEach(listName => {%>
                <h1>
                    <a href="/<%= listName %>" class="list-name">
                        <%= listName %>
                    </a>
                </h1>
                <% }); %>
        </div>


        <div class="box" id="heading">
            <form action="/delete/<%= listTitle %>">
                <input type="checkbox" onchange="this.form.submit()">
                <h1 style="display: inline-block;">
                    <%= listTitle %>
                </h1>
            </form>

        </div>

        <div class="box">
            <% newListItems.forEach(item => {%>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
                        <p>
                            <%=  item.value  %>
                        </p>
                    </div>
                    <input type="hidden" name="listName" value="<%= listTitle %>"></input>
                </form>
                <% }); %>
                    <form class="item" action="/" method="post">
                        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                        <button type="submit" name="list" value="<%= listTitle %>">+</button>
                    </form>
        </div>
    </div>

    <%- include("footer") -%>